<div class="d-flex flex-nowrap">
    <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button class="btn btn-outline-dark mt-3 mr-3" routerLink="/home">LoginDirectly</button>
    </li> -->
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button class="btn btn-outline-dark mt-3 mr-3" routerLink="/get-started/login">Login</button>
    </a>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <button class="btn btn-outline-dark mt-3 mr-4" routerLink="/get-started/register">Register</button>
    </a>
</div>