<div class="container bg-white border border-dark rounded text-center text-dark">
    <h3 class="border-bottom border-dark p-3 font-weight-bold">
        Settings
    </h3>
    <div class="p-3 mb-3">
        <div class="mb-3">
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <button class="btn btn-outline-dark" routerLink="/home/payment">Update Payment Methods</button>
            </a>
        </div>
        <div>
            <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <button class="btn btn-outline-dark" routerLink="/home/address">Update Addresses</button>
            </a>
        </div>
    </div>
</div>